*,
body,
h1,
ol,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: #eae8fe;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 386px;
    height: 180px;
    background-image: url("../images/logo.png");
    background-size: cover;
    z-index: 10;
}

.main-container {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 748px;
    margin: 0 auto;
    padding-top: 250px;
}

.machine-container {
    display: flex;
    align-items: flex-start;
    gap: 28px;
    margin-bottom: 100px;
}

.vending-machine {
    background-color: white;
    width: 360px;
}

.vending-machine-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding: 31px;
    padding-bottom: 20px;
}

.vending-machine-list .box {
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
    cursor: pointer;
}

.cola-name {
    /* display: block;
    text-align: center;
    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%); */
    font-size: 9px;
    font-weight: 500;
}

.cola-price {
    text-align: center;
    width: 100%;
    padding: 3.75px 0;
    background-color: #6327fe;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.vending-machine-list .box:hover {
    outline: 3px solid #6327fe;
}

.box {
    position: relative;
    overflow: hidden;
}
.box ul {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.cola-img {
    width: 60%;
}

.changes-section {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 11px;
}

.changes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    line-height: 1;
    width: 200px;
    background-color: #eae8fe;
    border-radius: 5px;
}

.change-button {
    width: 94px;
    font-weight: 500;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
    cursor: pointer;
}

.push-money-section {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 11px;
}

.push-money {
    padding: 8.25px 10px;
    width: 200px;
    color: #bdbdbd;
    font-weight: 500;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
.push-money::placeholder {
    font-size: 14px;
}

.push-money:focus {
    outline: none;
    color: black;
    text-align: right;
}

.push-money-button {
    width: 94px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
    cursor: pointer;
}

.cart-section {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 28px;
}

.cart-container {
    width: 200px;
    height: 100px;
    background-color: #eae8fe;
    overflow: auto;
    padding: 12px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.cart-container::-webkit-scrollbar {
    width: 10px;
}

.cart-container::-webkit-scrollbar-thumb {
    height: 79px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px transparent;
}

.cart-container1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.cart-container .select-type-list li {
    width: 100%;
}

.cart-get-button {
    width: 94px;
    background-color: #6327fe;
    border: 0;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
    cursor: pointer;
}

.my-status {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-money-section {
    background-color: white;
    padding: 9px 27px;
}

.my-money {
    background-color: #eae8fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    font-weight: 500;
    border-radius: 5px;
}

.my-money div:nth-child(2) {
    font-weight: 700;
}

.selected-container {
    flex-grow: 1;
    background-color: white;
    padding: 27px;
    height: 500px;
}

.selected-container .selected-list-title {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.selected-container .selected-list-container {
    overflow: auto;
    background-color: #eae8fe;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    margin-bottom: 20px;
    min-height: 380px;
}

.selected-container .selected-list {
    border-radius: 5px;
    margin: 0;
    padding: 12px;
}

.selected-container .total {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.selected-container .selected-list .selected-type-list li {
    width: 276px;
}

.selected-type-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-type-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 8px;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: 10.04px 6.04px;
    background-size: 17.93px 32.93px;
}

.selected-type-list li .selected-cola-img {
    width: 20px;
}

.selected-list-container::-webkit-scrollbar {
    width: 10px;
}

.selected-list-container::-webkit-scrollbar-thumb {
    height: 79px;

    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px transparent;
}

.selected-list-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.selected-cola {
    margin-left: 38px;
    font-size: 9px;
}

.selected-count {
    width: 30px;
    font-size: 14px;
    padding: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    outline: 3px solid #6327fe;
}

.sold-out-img {
    position: absolute;
    background-color: #000000c8;
    padding: 15px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sold-out:hover {
    outline: 0 !important;
    cursor: auto;
}
