*,
body,
h1,
ol,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: #eae8fe;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 386px;
    height: 180px;
    background-image: url("../images/logo.png");
    background-size: cover;
    z-index: 10;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 748px;
    height: 545px;
}

.machine-container {
    display: flex;
    align-items: center;
    gap: 28px;
}

.vending-machine {
    background-color: white;
}

.vending-machine-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 31px 27px 20px;
    width: 306px;
}

.vending-machine-list .box {
    width: 94px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
}

.box {
    position: relative;
    background-repeat: no-repeat;
    background-position: center 11px;
    background-size: 35.86px 64.86px;
    overflow: hidden;
    cursor: pointer;
}

.cola-name {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9px;
    font-weight: 500;
}

.cola-price {
    display: block;
    position: absolute;
    text-align: center;
    width: 70px;
    padding: 3.75px 0;
    background-color: #6327fe;
    border-radius: 50px;
    color: white;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 500;
}

.vending-machine-list .box:hover {
    outline: 3px solid #6327fe;
}

.box.Original_Cola {
    background-image: url(../images/Original_Cola.png);
}

.box.Violet_Cola {
    background-image: url(../images/Violet_Cola.png);
}

.box.Yellow_Cola {
    background-image: url(../images/Yellow_Cola.png);
}

.box.Cool_Cola {
    background-image: url(../images/Cool_Cola.png);
}

.box.Green_Cola {
    background-image: url(../images/Green_Cola.png);
}

.box.Orange_Cola {
    background-image: url(../images/Orange_Cola.png);
}

.changes-section {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 11px;
    height: 33px;
}

.changes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 10px;
    width: 200px;
    background-color: #eae8fe;
    border-radius: 5px;
}

.change-button {
    width: 94px;
    font-weight: 500;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
    cursor: pointer;
}

.push-money-section {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 11px;
    height: 33px;
}

.push-money {
    padding: 6px 10px;
    width: 200px;
    color: #bdbdbd;
    font-weight: 500;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.push-money:focus {
    outline: none;
    color: black;
    text-align: right;
}

.push-money-button {
    width: 94px;
    font-weight: 500;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
    cursor: pointer;
}

.cart-section {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 28px;
}

.cart-container {
    width: 200px;
    height: 106px;
    background-color: #eae8fe;
    overflow: auto;
    padding: 12px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.cart-container::-webkit-scrollbar {
    width: 10px;
}

.cart-container::-webkit-scrollbar-thumb {
    height: 79px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px transparent;
}

.cart-container1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.cart-container .select-type-list li {
    width: 100%;
}

.cart-get-button {
    width: 94px;
    background-color: #6327fe;
    border: 0;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.278);
    cursor: pointer;
}

.my-status {
    width: 360px;
    height: 545px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-money-section {
    background-color: white;
    padding: 9px 27px;
}

.my-money {
    background-color: #eae8fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    font-weight: 500;
    border-radius: 5px;
}

.my-money div:nth-child(2) {
    font-weight: 700;
}

.selected-container {
    background-color: white;
    position: relative;
}

.selected-list-title {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 700;
}

.selected-container .selected-list-container {
    height: 364px;
    overflow: auto;
    margin: 58px 27px 52px;
    background-color: #eae8fe;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
}

.selected-list-container::-webkit-scrollbar {
    width: 10px;
}

.selected-list-container::-webkit-scrollbar-thumb {
    height: 79px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px transparent;
}

.selected-list-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.selected-container .selected-list {
    padding: 12px;
    height: 1000px;
}

.selected-type-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-type-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 8px 8px 8px 0;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: 10.04px 6.04px;
    background-size: 17.93px 32.93px;
}

.selected-container .selected-list {
    border-radius: 5px;
    margin: 0;
}

.selected-container .selected-list .selected-type-list li {
    width: 276px;
    height: 46px;
}

.selected-container .total {
    position: absolute;
    right: 27px;
    bottom: 26px;
    font-size: 12px;
    font-weight: 500;
}

.selected-type-list .Original_Cola {
    background-image: url(../images/Original_Cola.png);
}

.selected-type-list .Violet_Cola {
    background-image: url(../images/Violet_Cola.png);
}

.selected-type-list .Yellow_Cola {
    background-image: url(../images/Yellow_Cola.png);
}

.selected-type-list .Cool_Cola {
    background-image: url(../images/Cool_Cola.png);
}

.selected-type-list .Green_Cola {
    background-image: url(../images/Green_Cola.png);
}

.selected-type-list .Orange_Cola {
    background-image: url(../images/Orange_Cola.png);
}

.selected-cola {
    margin-left: 38px;
    font-size: 9px;
}

.selected-count {
    width: 30px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    outline: 3px solid #6327fe;
}

.sold-out-img {
    position: absolute;
    background-color: #000000c8;
    padding: 15px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.sold-out:hover {
    outline: 0 !important;
    cursor: auto;
}
